[user]
    name = Arnaud Gaydamour
    email = arnaud.gaydamour@protonmail.com
    signingkey = 10AB92825AFBD8C9
[commit]
    gpgsign = true
[init]
    defaultBranch = main
[push]
    default = current
[alias]
    co = checkout
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset' --abbrev-commit --date=relative
    l = ! git lg -n25
    su = status -u
