[Unit]
Description=easyeffects autostart config

[Service]
Environment=HOME=%h
Restart=always
RestartSec=3
ExecStart=%h/.nix-profile/bin/easyeffects --gapplication-service

[Install]
WantedBy=default.target
