@import "styles/colors.css";

* {
    border: none;
    font-family: "SF Pro Text", "JetBrainsMono Nerd Font Propo", Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    min-height: 0;
    border-radius: 50px;
    opacity: 0.95;
}

window#waybar {
    background-color: transparent;
    color: @on_background;
}

.modules-right {
    margin-right: 12px;
}

#workspaces {
    background-color: @surface_container;
    padding: 6px;
    margin-left: 12px;
}

#workspaces button {
    background-color: @outline_variant;
    color: @outline_variant;
    padding: 0 8px;
    margin: 0 4px;
    transition: background-color 0.3s, color 0.3s, padding 0.2s, margin 0.2s;
}

#workspaces button.empty {
    background-color: @surface_container_lowest;
    color: @surface_container_lowest;
}

#workspaces button.active {
    background-color: @primary;
    color: @on_primary;
    padding: 0 24px;
    border-radius: 5px;
}

#workspaces button.active:hover {
    background-color: @primary;
    color: @on_primary;
    padding: 0 24px;
}

#workspaces button:hover {
    background: @surface_bright;
    color: @surface_bright;
    padding: 0 12px;
}

#workspaces button.urgent {
    background-color: @error;
    color: @on_error;
}

#battery,
#pulseaudio,
#backlight,
#custom-starship,
#custom-dnf,
#network,
#clock,
#custom-media,
#window,
#cpu,
#memory,
#disk,
#tray,
#custom-launcher,
#custom-notification,
#power-profiles-daemon {
    color: @primary_fixed_dim;
    background-color: @surface_container;
    padding: 0 15px 0 15px;
    margin: 0 0 0 10px;
}

#window.hidden {
    opacity: 0;
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    border: none;
}

window#waybar.empty #window {
    background-color: transparent;
}